@keyframes modal-video {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px); }
  to {
    transform: translate(0, 0); } }
.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.modal-video-close {
  opacity: 0; }
  .modal-video-close .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px); }

.modal-video-body {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table; }

.modal-video-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }
  .modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -35px;
  right: -35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent; }
  .modal-video-close-btn:before {
    transform: rotate(45deg); }
  .modal-video-close-btn:after {
    transform: rotate(-45deg); }
  .modal-video-close-btn:before, .modal-video-close-btn:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.col-12 {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }

.container {
  width: 100%;
  height: 700px;
  margin-bottom: 170px;
  background-color: white;
  position: relative; }
  .container .top-section {
    display: block;
    max-width: 50%;
    float: right;
    margin: auto;
    padding: 0; }
  .container .section-image {
    max-width: 350px;
    max-height: 450px; }
    .container .section-image img {
      width: 100%; }
  .container .section-text {
    position: absolute;
    height: 300px;
    max-width: 300px;
    width: 100%;
    top: 10%; }
    .container .section-text p {
      line-height: 1.3;
      font-size: 1.3em; }
  .container .text-right {
    text-align: right;
    right: 10%; }
  .container .text-left {
    text-align: left;
    left: 10%;
    top: 40%; }
  .container .bottom-section {
    display: block;
    margin: 0;
    padding-top: 100px; }

header {
  width: 100%;
  position: absolute;
  top: 26px;
  z-index: 6;
  display: block; }
  header .header .connections-logo {
    display: inline-block;
    width: 197px;
    margin-left: calc(50% - 200px); }
    header .header .connections-logo img {
      width: 100%; }
  header .header .menu-right {
    float: right; }
    header .header .menu-right .login {
      position: relative;
      display: block;
      float: left;
      width: 210px;
      height: 40px;
      border-radius: 20px;
      border: solid 0.5px rgba(255, 255, 255, 0.5);
      margin-right: 60px; }
      header .header .menu-right .login a {
        text-decoration: none;
        display: inline-block;
        font-family: "Poppins", sans-serif;
        font-size: 0.875em;
        font-weight: 600;
        text-align: center;
        line-height: 39px;
        color: #ffffff; }
        header .header .menu-right .login a.login-text {
          padding: 0 16px 0 20px;
          border-right: 1px solid rgba(255, 255, 255, 0.5); }
        header .header .menu-right .login a.apply {
          padding-left: 17px; }
    header .header .menu-right .menu {
      padding-top: 9px;
      display: block;
      float: left;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1); }
      header .header .menu-right .menu svg#menu-icon {
        width: 30px; }
      header .header .menu-right .menu svg#menu-icon #top,
      header .header .menu-right .menu svg#menu-icon #middle,
      header .header .menu-right .menu svg#menu-icon #bottom {
        transition: 0.25s ease; }
      header .header .menu-right .menu #menu-icon:hover #middle {
        transform: scale(2, 1); }
      header .header .menu-right .menu #menu-icon:hover #bottom {
        transform: scale(2, 1); }
      header .header .menu-right .menu #menu-icon:active #top,
      header .header .menu-right .menu #menu-icon:active #middle,
      header .header .menu-right .menu #menu-icon:active #bottom {
        transform: scale(0, 1);
        transition-timing-function: cubic-bezier(2s, 0, 0.25, 1);
        stroke-linecap: round; }
      header .header .menu-right .menu #menu-icon line {
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round; }

.viewport-height {
  height: 100vh; }

.video-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-image: url("../img/hero-banner@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .video-container .content {
    text-align: center;
    z-index: 6;
    position: absolute;
    width: 100%;
    max-width: 1081px;
    left: calc(50% - 540px);
    top: 30%; }
    .video-container .content .text {
      text-align: center;
      width: 100%;
      text-shadow: 0 8px 30px rgba(0, 0, 0, 0.58);
      font-family: "Poppins", sans-serif;
      font-size: 4.5em;
      line-height: 1.17;
      font-weight: bold;
      letter-spacing: -0.5px;
      color: #ffffff;
      margin-bottom: 50px;
      padding: 0 20px;
      box-sizing: border-box; }
      .video-container .content .text span {
        font-weight: 300; }
    .video-container .content .button-container {
      z-index: 6;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px; }
    .video-container .content .button {
      display: inline-block;
      position: relative; }
    .video-container .content .button.is-play {
      border-radius: 50%;
      width: 100px;
      height: 100px; }
    .video-container .content .button.is-play .button-outer-circle {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%; }
    .video-container .content .button.is-play .button-icon {
      position: absolute;
      width: 100%;
      height: 100%; }
    .video-container .content .has-scale-animation {
      -webkit-animation: smallScale 3s infinite;
      animation: smallScale 3s infinite; }
    .video-container .content .has-delay-short {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90; }
  to {
    stroke-dashoffset: 0; } }
@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90; }
  to {
    stroke-dashoffset: 0; } }
@-webkit-keyframes smallScale {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; } }
@keyframes smallScale {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; } }
    .video-container .content .play-video {
      max-width: 172px;
      width: 100%;
      height: 21px;
      margin: 0 auto; }
      .video-container .content .play-video p {
        text-shadow: 0 8px 30px rgba(0, 0, 0, 0.58);
        font: bold 1.125em "Poppins", sans-serif;
        line-height: 1.17;
        letter-spacing: -0.2px;
        text-align: center;
        color: #ffffff; }
  .video-container .video {
    position: relative;
    height: 100%; }
    .video-container .video .hover {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.5); }
    .video-container .video iframe {
      position: absolute;
      top: 0;
      left: calc(50% - 800px);
      width: 1600px;
      height: 100%; }
  .video-container .cursor {
    color: #000;
    position: absolute;
    margin-left: 4px;
    margin-top: 1px;
    width: 26px;
    height: 45px;
    border: solid 2px #fff;
    border-radius: 26px;
    bottom: 90px;
    left: calc(50% - 20px);
    -webkit-font-smoothing: antialiased !important; }
    .video-container .cursor::before {
      content: '';
      position: absolute;
      top: 14px;
      left: 9px;
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 100%;
      animation-name: dot1;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
    .video-container .cursor::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 9px;
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 100%;
      opacity: 1;
      animation-name: dot2;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
  .video-container .vert-line {
    z-index: 99;
    height: 120px;
    width: 1px;
    display: block;
    position: absolute;
    bottom: -60px;
    left: calc(50% - 2px); }
    .video-container .vert-line div {
      height: 50%;
      display: block;
      width: 1px; }
      .video-container .vert-line div.white {
        background-color: white; }
      .video-container .vert-line div.black {
        background-color: black; }

.modal-video {
  background-color: rgba(0, 0, 0, 0.95); }

.sub-sub-content {
  position: relative;
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 150px; }

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 150px;
  background-color: grey;
  color: white;
  z-index: -1; }
  .footer .logo,
  .footer .text {
    float: left;
    padding: 10px;
    box-sizing: border-box; }
  .footer .logo {
    width: 100px; }
    .footer .logo img {
      width: 100%; }
  .footer .text {
    width: calc(calc(100% - 100px) / 2); }

.text-container {
  text-align: center; }
  .text-container .title-text h2 {
    font: bold 4em "Poppins", sans-serif;
    max-width: 1081px;
    width: 100%;
    height: auto;
    line-height: 1.19;
    letter-spacing: -0.9px;
    margin: 290px auto 20px auto; }
  .text-container .sub-text {
    font-family: "Poppins", sans-serif;
    margin: 0 auto 40px;
    max-width: 863px;
    width: 100%;
    height: auto;
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.73;
    color: #6e6e6e; }
  .text-container .next-button-container {
    width: 50px;
    height: 50px;
    background: url("../img/button-no-text@3x.png") no-repeat;
    display: inline-block;
    background-size: cover;
    transition: all .15s; }
  .text-container .next-button-container:hover {
    background: url("../img/button-no-text-copy@3x.png") no-repeat;
    background-size: cover;
    cursor: pointer; }

.carousel-container {
  margin: 20px 0;
  width: 100%;
  height: 100vh; }
  .carousel-container .tab {
    position: relative;
    margin: 20px 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center; }
    .carousel-container .tab .shadow {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: rgba(0, 0, 0, 0.3);
      transition: all .7s; }
    .carousel-container .tab .text-container {
      max-width: 300px;
      position: absolute;
      bottom: 20%;
      left: 15%; }
      .carousel-container .tab .text-container .tab-title {
        position: relative;
        text-align: left;
        width: 260px;
        height: 80px;
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.11;
        color: #ffffff;
        margin-bottom: 20px; }
        .carousel-container .tab .text-container .tab-title h2 {
          position: absolute;
          bottom: 0; }
      .carousel-container .tab .text-container .tab-text,
      .carousel-container .tab .text-container .tab-title {
        color: white; }
      .carousel-container .tab .text-container .tab-text {
        margin-bottom: 20px;
        text-align: left;
        width: 260px;
        height: 44px;
        font-family: "Hind", sans-serif;
        font-size: 16px;
        line-height: 1.38;
        color: #ffffff;
        height: 0;
        opacity: 0; }
        .carousel-container .tab .text-container .tab-text.js-height {
          height: auto !important; }
    .carousel-container .tab .line {
      margin: 20px 0;
      width: 30%;
      border-bottom: 1px solid white;
      transition: all .25s; }
    .carousel-container .tab .lm-button {
      width: 230px;
      line-height: 57px;
      border-radius: 32px;
      box-shadow: 0 13px 35px 0 rgba(0, 0, 0, 0.26);
      background-color: #bea26c;
      opacity: 0;
      height: 0; }
      .carousel-container .tab .lm-button a {
        text-decoration: none;
        width: 201px;
        height: 29px;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #ffffff; }
      .carousel-container .tab .lm-button.js-height {
        height: auto !important; }
    .carousel-container .tab .img-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .25s; }
      .carousel-container .tab .img-hover img {
        width: 100%;
        height: 100%; }
    .carousel-container .tab:hover .img-hover {
      opacity: 1; }
    .carousel-container .tab:hover .line {
      width: 60%; }

.slick-dots {
  bottom: -10px; }
  .slick-dots li button {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 10px;
    height: 10px; }
    .slick-dots li button::before {
      display: none; }
  .slick-dots .slick-active button {
    background-color: white; }

.slick-prev,
.slick-next {
  left: 60px;
  width: 60px;
  height: 60px;
  z-index: 13;
  background-image: url(../img/page-left@3x.png);
  background-size: cover;
  display: block; }
  .slick-prev::before,
  .slick-next::before {
    display: none; }
  .slick-prev:hover,
  .slick-next:hover {
    display: block;
    background-image: url(../img/page-left-100@3x.png);
    background-size: cover; }
  .slick-prev:focus,
  .slick-next:focus {
    display: block;
    background-image: url(../img/page-left@3x.png);
    background-size: cover; }

.slick-next {
  right: 60px;
  left: calc(100% - 120px);
  background-image: url(../img/page-right-copy@3x.png); }
  .slick-next::before {
    display: none; }
  .slick-next:hover {
    display: block;
    background-image: url(../img/page-right@3x.png);
    background-size: cover; }
  .slick-next:focus {
    display: block;
    background-image: url(../img/page-right-copy@3x.png);
    background-size: cover; }

@media only screen and (max-width: 1024px) {
  main.mobile .carousel-container .tab .shadow {
    background-color: rgba(0, 0, 0, 0.5); }
  main.mobile .carousel-container .tab .text-container .tab-text {
    height: auto;
    opacity: 1; }
  main.mobile .carousel-container .tab .line {
    margin: 20px 0;
    width: 60%;
    border-bottom: 1px solid white; } }

/*# sourceMappingURL=main.css.map */
