@keyframes modal-video {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px); }
  to {
    transform: translate(0, 0); } }
.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.modal-video-close {
  opacity: 0; }
  .modal-video-close .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px); }

.modal-video-body {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table; }

.modal-video-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }
  .modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -35px;
  right: -35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent; }
  .modal-video-close-btn:before {
    transform: rotate(45deg); }
  .modal-video-close-btn:after {
    transform: rotate(-45deg); }
  .modal-video-close-btn:before, .modal-video-close-btn:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*.lm-button {
  text-align: center;
  width: 230px;
  line-height: 57px;
  border-radius: 32px;
  box-shadow: 0 13px 35px 0 rgba(0, 0, 0, 0.26);
  background-color: $button-hover-brown;
  opacity: 0;
  height: 0;
  a {
    text-decoration: none;
    width: 201px;
    height: 29px;
    font-family: $fontfamily-poppins;
    font-size: 1.125em;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }
  &.js-height {
    height: auto !important;
  }
}*/
.learn-more-btn {
  max-width: 200px;
  width: 100%;
  border-radius: 22.5px;
  border: solid 2px #cccccc; }
  .learn-more-btn a {
    text-decoration: none;
    position: relative;
    width: 100%;
    display: block;
    line-height: 39px;
    font-family: "Poppins", sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin: 0 auto;
    cursor: pointer; }
  .learn-more-btn.js-height {
    height: auto !important; }
  .learn-more-btn.center {
    margin: 0 auto 50px auto; }
  .learn-more-btn:hover, .learn-more-btn.brown-button {
    border-color: #bea26c;
    background-color: #bea26c; }
    .learn-more-btn:hover a, .learn-more-btn.brown-button a {
      color: #fff; }
  .learn-more-btn:hover {
    box-shadow: 0 13px 35px 0 rgba(0, 0, 0, 0.26); }

.blue-section {
  position: relative;
  display: block;
  background-color: #3db2b7;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 96%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 96%);
  overflow: visible; }
  .blue-section .blue-shape {
    background-image: url("../img/shape-ident-copy@3x.png");
    background-size: cover;
    background-position: center center;
    max-width: 1523px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .blue-section .benefits {
    padding: 50px 4%;
    display: block;
    margin: 20px auto;
    max-width: 1081px; }
    .blue-section .benefits h2 {
      font-weight: 600;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-size: 3em;
      line-height: 1;
      text-align: center;
      color: #ffffff; }
  .blue-section .memberships {
    display: block;
    max-width: 1081px;
    width: 100%;
    margin-bottom: 40px; }
    .blue-section .memberships .ms-section {
      max-width: 235px;
      width: 100%;
      margin: 0 auto; }
      .blue-section .memberships .ms-section h3 {
        margin-bottom: 20px;
        font-family: "Poppins", sans-serif;
        font-size: 2em;
        font-weight: 600;
        line-height: 1.11;
        text-align: center;
        color: #ffffff; }
      .blue-section .memberships .ms-section p {
        margin-bottom: 23px;
        font-family: "Hind", sans-serif;
        font-size: 1em;
        text-align: center;
        color: #ffffff;
        line-height: 1.5; }
    .blue-section .memberships:last-of-type {
      padding-bottom: 130px; }
    .blue-section .memberships .arrow-blue-mobile {
      margin: 0 auto;
      max-width: 50px;
      height: 50px;
      display: block;
      transition: all .15s; }
      .blue-section .memberships .arrow-blue-mobile img {
        width: 100%; }
    .blue-section .memberships .arrow-blue {
      display: none; }

@media (min-width: 1024px) {
  .blue-section {
    max-height: 1000px; }
    .blue-section .benefits {
      padding-top: 298px; }
      .blue-section .benefits h2 {
        font-size: 4em; }
    .blue-section .membership-container {
      max-width: 1081px;
      display: grid;
      grid-template-columns: auto auto auto;
      margin: 0 auto; }
      .blue-section .membership-container .memberships {
        margin: 0 auto;
        max-width: 235px;
        width: 100%; }
        .blue-section .membership-container .memberships .ms-section h3 {
          font-size: 2.25em; }
        .blue-section .membership-container .memberships .arrow-blue-mobile {
          display: none; }
        .blue-section .membership-container .memberships .arrow-blue {
          margin: 0 auto;
          width: 50px;
          height: 50px;
          background: url("../img/buttons/button-round@3x.png") no-repeat;
          display: block;
          background-size: cover;
          transition: all .15s; }
        .blue-section .membership-container .memberships .arrow-blue:hover {
          background: url("../img/buttons/button-round-hover@3x.png") no-repeat;
          background-size: cover;
          cursor: pointer; } }
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 320px;
  background-color: #ffffff;
  z-index: -1;
  max-height: 320px;
  height: 100%; }
  .footer .logo,
  .footer .copyright {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0 10px 0; }
    .footer .logo img,
    .footer .copyright img {
      width: 100%; }
  .footer .copyright {
    font-family: "Hind", sans-serif;
    font-size: .7em;
    text-align: center;
    color: #aaaaaa; }
  .footer .middle-text {
    margin: 0 auto;
    box-sizing: border-box;
    width: 318px;
    font-family: "Hind", sans-serif;
    line-height: 1.4;
    font-size: .7em;
    color: #aaaaaa;
    text-align: center; }
  .footer .right-section .policylinks {
    margin: 0 auto;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 340px;
    width: 100%; }
    .footer .right-section .policylinks a {
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: .7em;
      font-weight: 500;
      text-align: center;
      color: #aaaaaa; }
  .footer .right-section .footer-socialmedia {
    display: block;
    margin: 0 auto;
    max-width: 190px;
    width: 100%; }
    .footer .right-section .footer-socialmedia .sm-logo {
      margin: 10px;
      display: inline-block;
      max-width: 15px;
      width: 100%; }
      .footer .right-section .footer-socialmedia .sm-logo img {
        width: 100%;
        height: 100%; }
    .footer .right-section .footer-socialmedia .facebook {
      height: 15px;
      width: 9px; }
    .footer .right-section .footer-socialmedia .youtube {
      max-width: 19px; }

.duo-container {
  width: 100%;
  display: block;
  margin: 0 auto 400px auto; }
  .duo-container .top-section {
    margin-bottom: 30px; }
  .duo-container .duo-section {
    position: relative;
    display: block; }
    .duo-container .duo-section .section-image {
      max-width: 485px;
      width: 90%;
      margin: 20px auto; }
      .duo-container .duo-section .section-image img {
        outline: 1px solid white;
        outline-offset: -13px;
        width: 100%;
        -webkit-box-shadow: 0px 10px 41px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 41px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 10px 41px -10px rgba(0, 0, 0, 0.75); }
    .duo-container .duo-section .bckgrnd-img {
      display: none;
      position: relative;
      max-width: 1115px;
      height: auto; }
      .duo-container .duo-section .bckgrnd-img img {
        width: 100%; }
    .duo-container .duo-section .container {
      width: 100%;
      display: block; }
    .duo-container .duo-section .text-left {
      display: block;
      float: right; }
    .duo-container .duo-section .section-text {
      text-align: center;
      max-width: 530px;
      width: 100%; }
      .duo-container .duo-section .section-text h2 {
        margin: 0 auto;
        padding: 10px;
        width: 100%;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        font-size: 2.5em;
        line-height: 1.09;
        color: #000000; }
      .duo-container .duo-section .section-text p {
        padding: 10px;
        text-align: center;
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.73;
        color: #6e6e6e; }

@media (min-width: 1024px) {
  .duo-container {
    margin: 0 auto 247px auto; }
    .duo-container .duo-section {
      margin: 0 auto;
      width: 1084px; }
      .duo-container .duo-section .top-section {
        padding-top: 241px; }
      .duo-container .duo-section .top-container {
        padding: 241px 0 400px 0; }
      .duo-container .duo-section .container {
        display: flex;
        width: 100%;
        position: relative;
        overflow: visible;
        flex-direction: row; }
        .duo-container .duo-section .container .section-image,
        .duo-container .duo-section .container .section-text {
          float: left; }
        .duo-container .duo-section .container .section-image {
          width: 485px;
          margin: 0 1%; }
        .duo-container .duo-section .container .section-text {
          width: calc(100% - 485px); }
          .duo-container .duo-section .container .section-text h2 {
            font-size: 4em; }
          .duo-container .duo-section .container .section-text p {
            font-size: 1.375em; }
        .duo-container .duo-section .container .text-right {
          top: 300px; }
          .duo-container .duo-section .container .text-right h2 {
            margin-bottom: 30px; }
        .duo-container .duo-section .container.flipped {
          flex-direction: row-reverse; }
          .duo-container .duo-section .container.flipped .section-image,
          .duo-container .duo-section .container.flipped .section-text {
            float: right; }
          .duo-container .duo-section .container.flipped .section-image {
            margin: 0 1.5%; }
          .duo-container .duo-section .container.flipped .section-text {
            margin-right: 30px; }
      .duo-container .duo-section .bckgrnd-img {
        display: block;
        position: absolute;
        z-index: -1; }
      .duo-container .duo-section .background-top {
        right: -25%;
        top: -60px;
        z-index: -10;
        float: right;
        width: 748px; }
      .duo-container .duo-section .section-text h2,
      .duo-container .duo-section .section-text p {
        text-align: left; }
      .duo-container .duo-section .learn-more-btn {
        margin: 40px auto 0 8px; }
    .duo-container .bottom-section .background-bottom {
      float: left;
      left: -76%;
      bottom: 27%; }
    .duo-container .bottom-section .bottom-container .bottom-image {
      margin-left: 15px; }
    .duo-container .bottom-section .bottom-container .text-left h2 {
      text-align: right;
      margin: 0 auto 30px 40px; }
    .duo-container .bottom-section .bottom-container .text-left p {
      text-align: right;
      margin-left: 39px; }
    .duo-container .bottom-section .bottom-container .learn-more-btn {
      float: right;
      margin-right: -30px; } }
header {
  width: 100%;
  position: absolute;
  top: 26px;
  z-index: 6;
  display: block; }
  header .header .connections-logo {
    display: inline-block;
    width: 197px;
    margin-left: calc(50% - 200px); }
    header .header .connections-logo img {
      width: 100%; }
  header .header .menu-right {
    float: right; }
    header .header .menu-right .login {
      position: relative;
      display: block;
      float: left;
      width: 210px;
      height: 40px;
      border-radius: 20px;
      border: solid 0.5px rgba(255, 255, 255, 0.5);
      margin-right: 60px; }
      header .header .menu-right .login a {
        text-decoration: none;
        display: inline-block;
        font-family: "Poppins", sans-serif;
        font-size: 0.875em;
        font-weight: 600;
        text-align: center;
        line-height: 39px;
        color: #ffffff; }
        header .header .menu-right .login a.login-text {
          padding: 0 16px 0 20px;
          border-right: 1px solid rgba(255, 255, 255, 0.5); }
        header .header .menu-right .login a.apply {
          padding-left: 17px; }
    header .header .menu-right .menu {
      padding-top: 9px;
      display: block;
      float: left;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1); }
      header .header .menu-right .menu svg#menu-icon {
        width: 30px; }
      header .header .menu-right .menu svg#menu-icon #top,
      header .header .menu-right .menu svg#menu-icon #middle,
      header .header .menu-right .menu svg#menu-icon #bottom {
        transition: 0.25s ease; }
      header .header .menu-right .menu #menu-icon:hover #middle {
        transform: scale(2, 1); }
      header .header .menu-right .menu #menu-icon:hover #bottom {
        transform: scale(2, 1); }
      header .header .menu-right .menu #menu-icon:active #top,
      header .header .menu-right .menu #menu-icon:active #middle,
      header .header .menu-right .menu #menu-icon:active #bottom {
        transform: scale(0, 1);
        transition-timing-function: cubic-bezier(2s, 0, 0.25, 1);
        stroke-linecap: round; }
      header .header .menu-right .menu #menu-icon line {
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round; }

.viewport-height {
  min-height: 100vh; }

.video-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-image: url("../img/hero-banner@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .video-container .content {
    text-align: center;
    z-index: 6;
    position: absolute;
    width: 100%;
    max-width: 1081px;
    left: calc(50% - 540px);
    top: 30%; }
    .video-container .content .text {
      text-align: center;
      width: 100%;
      text-shadow: 0 8px 30px rgba(0, 0, 0, 0.58);
      font-family: "Poppins", sans-serif;
      font-size: 4.5em;
      line-height: 1.17;
      font-weight: bold;
      letter-spacing: -0.5px;
      color: #ffffff;
      margin-bottom: 50px;
      padding: 0 20px;
      box-sizing: border-box; }
      .video-container .content .text span {
        font-weight: 300; }
    .video-container .content .button-container {
      z-index: 6;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px; }
    .video-container .content .button {
      display: inline-block;
      position: relative; }
    .video-container .content .button.is-play {
      border-radius: 50%;
      width: 100px;
      height: 100px; }
    .video-container .content .button.is-play .button-outer-circle {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%; }
    .video-container .content .button.is-play .button-icon {
      position: absolute;
      width: 100%;
      height: 100%; }
    .video-container .content .has-scale-animation {
      -webkit-animation: smallScale 3s infinite;
      animation: smallScale 3s infinite; }
    .video-container .content .has-delay-short {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90; }
  to {
    stroke-dashoffset: 0; } }
@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90; }
  to {
    stroke-dashoffset: 0; } }
@-webkit-keyframes smallScale {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; } }
@keyframes smallScale {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; } }
    .video-container .content .play-video {
      max-width: 172px;
      width: 100%;
      height: 21px;
      margin: 0 auto; }
      .video-container .content .play-video p {
        text-shadow: 0 8px 30px rgba(0, 0, 0, 0.58);
        font: bold 1.125em "Poppins", sans-serif;
        line-height: 1.17;
        letter-spacing: -0.2px;
        text-align: center;
        color: #ffffff; }
  .video-container .video {
    position: relative;
    height: 100%; }
    .video-container .video .hover {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.5); }
    .video-container .video iframe {
      position: absolute;
      top: 0;
      left: calc(50% - 800px);
      width: 1600px;
      height: 100%; }
  .video-container .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    margin-bottom: 6px;
    position: absolute;
    left: calc(50% - 12px);
    bottom: 90px; }
  .video-container .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    border-radius: 8px; }
  .video-container .wheel {
    -webkit-animation: mouse-wheel 1.5s linear infinite;
    -moz-animation: mouse-wheel 1.5s linear infinite; }
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); } }
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 6px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .5; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .5; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }
@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .5; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }
  .video-container .vert-line {
    z-index: 99;
    height: 120px;
    width: 3px;
    display: block;
    position: absolute;
    bottom: -60px;
    left: calc(50% - 1px); }
    .video-container .vert-line div {
      height: 50%;
      display: block;
      width: 1px;
      margin-left: 1px; }
      .video-container .vert-line div.white {
        background-color: white; }
      .video-container .vert-line div.black {
        background-color: black; }

.modal-video {
  background-color: rgba(0, 0, 0, 0.95); }

.sub-sub-content {
  position: relative;
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 150px; }

.text-container {
  text-align: center;
  margin-bottom: 287px;
  padding-top: 290px; }
  .text-container .title-text h2 {
    padding: 10px;
    font: bold 2.5em "Poppins", sans-serif;
    max-width: 1081px;
    width: 100%;
    height: auto;
    line-height: 1.19;
    letter-spacing: -0.9px;
    margin: 0 auto 20px auto; }
  .text-container .sub-text {
    padding: 10px;
    font-family: "Poppins", sans-serif;
    margin: 0 auto 40px;
    max-width: 863px;
    width: 100%;
    height: auto;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.73;
    color: #6e6e6e; }
  .text-container .next-button-container {
    width: 50px;
    height: 50px;
    background: url("../img/button-no-text@3x.png") no-repeat;
    display: inline-block;
    background-size: cover;
    transition: all .15s; }
  .text-container .next-button-container:hover {
    background: url("../img/button-no-text-copy@3x.png") no-repeat;
    background-size: cover;
    cursor: pointer; }

@media (min-width: 1024px) {
  .text-container .title-text h2 {
    font: bold 4em "Poppins", sans-serif; }
  .text-container .sub-text {
    font-size: 1.375em; } }
.carousel-container {
  margin: 20px 0;
  width: 100%;
  height: 100vh; }
  .carousel-container .tab {
    position: relative;
    margin: 20px 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center; }
    .carousel-container .tab .shadow {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: rgba(0, 0, 0, 0.3);
      transition: all .7s; }
    .carousel-container .tab .tab-container {
      max-width: 300px;
      position: absolute;
      bottom: 20%;
      left: 15%; }
      .carousel-container .tab .tab-container .tab-title {
        position: relative;
        text-align: left;
        width: 260px;
        height: 80px;
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.11;
        color: #ffffff;
        margin-bottom: 20px; }
        .carousel-container .tab .tab-container .tab-title h2 {
          position: absolute;
          bottom: 0; }
      .carousel-container .tab .tab-container .tab-text,
      .carousel-container .tab .tab-container .tab-title {
        color: #ffffff; }
      .carousel-container .tab .tab-container .tab-text {
        margin-bottom: 20px;
        text-align: left;
        width: 260px;
        height: 44px;
        font-family: "Hind", sans-serif;
        font-size: 16px;
        line-height: 1.38;
        color: #ffffff;
        height: 0;
        opacity: 0; }
        .carousel-container .tab .tab-container .tab-text.js-height {
          height: auto !important; }
      .carousel-container .tab .tab-container .learn-more-btn {
        opacity: 0;
        height: 0; }
    .carousel-container .tab .line {
      margin: 20px 0;
      width: 30%;
      border-bottom: 1px solid #ffffff;
      transition: all .25s; }
    .carousel-container .tab .img-hover {
      background-size: cover;
      background-position: center center;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .25s; }
      .carousel-container .tab .img-hover img {
        height: 100%; }
    .carousel-container .tab:hover .img-hover {
      opacity: 1; }
    .carousel-container .tab:hover .line {
      width: 60%; }

.slick-dotted.slick-slider {
  margin-bottom: 50px; }

.slick-dots {
  bottom: -10px; }
  .slick-dots li button {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 10px;
    height: 10px; }
    .slick-dots li button::before {
      display: none; }
  .slick-dots .slick-active button {
    background-color: #bea26c; }

.slick-prev,
.slick-next {
  left: 60px;
  width: 60px;
  height: 60px;
  z-index: 13;
  background-image: url(../img/buttons/page-left@3x.png);
  background-size: cover;
  display: block; }
  .slick-prev::before,
  .slick-next::before {
    display: none; }
  .slick-prev:hover,
  .slick-next:hover {
    display: block;
    background-image: url(../img/buttons/page-left-100@3x.png);
    background-size: cover; }
  .slick-prev:focus,
  .slick-next:focus {
    display: block;
    background-image: url(../img/buttons/page-left@3x.png);
    background-size: cover; }

.slick-next {
  right: 60px;
  left: calc(100% - 120px);
  background-image: url(../img/buttons/page-right-copy@3x.png); }
  .slick-next::before {
    display: none; }
  .slick-next:hover {
    display: block;
    background-image: url(../img/buttons/page-right@3x.png);
    background-size: cover; }
  .slick-next:focus {
    display: block;
    background-image: url(../img/buttons/page-right-copy@3x.png);
    background-size: cover; }

@media only screen and (max-width: 1024px) {
  main.mobile .carousel-container .tab .shadow {
    background-color: rgba(0, 0, 0, 0.5); }
  main.mobile .carousel-container .tab .text-container .tab-text {
    height: auto;
    opacity: 1; }
  main.mobile .carousel-container .tab .line {
    margin: 20px 0;
    width: 60%;
    border-bottom: 1px solid #ffffff; } }
.meet-the-team {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%; }
  .meet-the-team .mtt-title {
    margin: 40px auto;
    max-width: 1081px;
    width: 100%;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    padding: 10px;
    line-height: 1;
    text-align: center;
    color: #000000; }
  .meet-the-team .mtt-content {
    position: relative;
    padding-bottom: 85px; }
  .meet-the-team .mtt-background {
    background-image: url("../img/mountains@3x.png");
    background-size: cover;
    background-position: center center;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    max-height: 542px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0; }
  .meet-the-team .team-slide {
    max-width: 1200px;
    width: 100%; }
    .meet-the-team .team-slide .mtt-images {
      margin: 20px auto;
      max-width: 360px;
      width: 90%; }
      .meet-the-team .team-slide .mtt-images img {
        width: 100%;
        outline: solid 0.5px #ffffff;
        outline-offset: -13px; }
    .meet-the-team .team-slide .mtt-middle h3,
    .meet-the-team .team-slide .mtt-middle h4,
    .meet-the-team .team-slide .mtt-middle p,
    .meet-the-team .team-slide .mtt-middle h5,
    .meet-the-team .team-slide .mtt-middle .socialmedia {
      margin: 0 auto;
      text-align: center; }
    .meet-the-team .team-slide .mtt-middle h3 {
      max-width: 377px;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-size: 2em;
      color: #000000;
      margin-bottom: 15px; }
    .meet-the-team .team-slide .mtt-middle span {
      font-weight: 600; }
    .meet-the-team .team-slide .mtt-middle h4 {
      max-width: 428px;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-size: 1.25em;
      font-weight: 300;
      line-height: 1.2;
      color: #6e6e6e;
      margin-bottom: 15px; }
    .meet-the-team .team-slide .mtt-middle p {
      max-width: 428px;
      width: 90%;
      font-family: "Hind", sans-serif;
      font-size: 1em;
      line-height: 1.2;
      color: #6e6e6e;
      margin-bottom: 15px; }
    .meet-the-team .team-slide .mtt-middle h5 {
      max-width: 271px;
      width: 100%;
      font-family: "Hind", sans-serif;
      font-size: 1.063em;
      color: #4b4b4b;
      margin-bottom: 15px;
      line-height: 1.5; }
    .meet-the-team .team-slide .mtt-middle .socialmedia {
      display: block; }
      .meet-the-team .team-slide .mtt-middle .socialmedia .media-logo {
        margin: 0 10px;
        display: inline-block;
        max-width: 15px;
        width: 100%; }
        .meet-the-team .team-slide .mtt-middle .socialmedia .media-logo img {
          width: 100%;
          height: 100%; }
      .meet-the-team .team-slide .mtt-middle .socialmedia .facebook {
        height: 15px;
        width: 9px; }
    .meet-the-team .team-slide .mtt-middle .readmore-section {
      margin: 20px auto;
      display: block; }
      .meet-the-team .team-slide .mtt-middle .readmore-section .rm-button-container {
        margin: 0 auto;
        width: 46px;
        height: 46px;
        background: url("../img/button-no-text@3x.png") no-repeat;
        background-size: cover;
        transition: all .15s; }
      .meet-the-team .team-slide .mtt-middle .readmore-section .next-button-container:hover {
        background: url("../img/button-no-text-copy@3x.png") no-repeat;
        background-size: cover;
        cursor: pointer; }
      .meet-the-team .team-slide .mtt-middle .readmore-section .readmore-text {
        margin: 0 auto;
        line-height: 30px;
        width: 71px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: .8em;
        font-weight: 500;
        color: #000000; }
  .meet-the-team .one-time-container .one-time .slick-next,
  .meet-the-team .one-time-container .one-time .slick-prev {
    left: 10px;
    width: 40px;
    height: 40px;
    top: 25%;
    background-size: cover;
    z-index: 13; }
  .meet-the-team .one-time-container .one-time .slick-next {
    background-image: url(../img/buttons/button-no-text-copy@3x.png);
    left: calc(100% - 50px); }
  .meet-the-team .one-time-container .one-time .slick-prev {
    background-image: url(../img/buttons/button-no-text-left@3x.png); }

.names {
  position: relative;
  z-index: 80;
  display: none; }

@media (min-width: 576px) {
  .meet-the-team .one-time .slick-next {
    left: calc(100% - 80px); }
  .meet-the-team .one-time .slick-prev {
    left: 40px; } }
@media (min-width: 768px) {
  .meet-the-team .one-time .slick-next {
    left: calc(100% - 120px); }
  .meet-the-team .one-time .slick-prev {
    left: 80px; } }
@media (min-width: 1300px) {
  .mtt-title {
    margin-bottom: 80px; }

  .one-time-container .one-time {
    display: inline-block;
    max-width: calc(100% - 240px); }
    .one-time-container .one-time .team-slide {
      display: inline-block; }
      .one-time-container .one-time .team-slide .mtt-images {
        float: left;
        margin: 0 76px 0 150px; }
      .one-time-container .one-time .team-slide .mtt-middle {
        float: left; }
        .one-time-container .one-time .team-slide .mtt-middle h3,
        .one-time-container .one-time .team-slide .mtt-middle h4,
        .one-time-container .one-time .team-slide .mtt-middle p,
        .one-time-container .one-time .team-slide .mtt-middle h5,
        .one-time-container .one-time .team-slide .mtt-middle .socialmedia {
          text-align: left; }
        .one-time-container .one-time .team-slide .mtt-middle h3 {
          font-size: 2em; }
        .one-time-container .one-time .team-slide .mtt-middle h4 {
          font-size: 1.375em;
          max-width: 428px;
          width: 100%;
          line-height: 1.73; }
        .one-time-container .one-time .team-slide .mtt-middle p {
          font-size: 1em;
          line-height: 1.5; }
        .one-time-container .one-time .team-slide .mtt-middle h5 {
          font-size: 1.125em; }

  .mtt-content {
    display: inline-block;
    position: relative; }
    .mtt-content .one-time .slick-track {
      width: 100% !important; }
    .mtt-content .names {
      position: absolute;
      right: 0;
      top: 123px;
      width: 240px;
      display: block; }
      .mtt-content .names .name {
        margin-bottom: 20px;
        text-align: right; }
        .mtt-content .names .name a {
          text-decoration: none;
          font-family: "Poppins", sans-serif;
          font-size: 1em;
          color: #cccccc; }
          .mtt-content .names .name a span {
            font-weight: 700; }
      .mtt-content .names .focus a {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        text-align: right;
        color: #000000; } }
.black-section {
  max-width: 1600px;
  width: 100%;
  background-color: #212121; }
  .black-section .black-section-text-container {
    display: block;
    margin: 0 auto;
    max-width: 833px;
    width: 100%;
    padding: 50px 10px; }
    .black-section .black-section-text-container .black-section-text {
      margin: 0 auto;
      display: inline-block;
      font-family: "Poppins", sans-serif;
      font-size: 1.1em;
      font-weight: 500;
      line-height: 1.73;
      text-align: center;
      color: #ffffff;
      padding-right: 10px; }
    .black-section .black-section-text-container .black-section-arrow {
      display: inline-block;
      max-width: 20px;
      width: 100%; }
      .black-section .black-section-text-container .black-section-arrow img {
        width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.overflow {
  overflow: hidden;
  position: relative; }

main.mobile,
main.tablet {
  overflow: hidden; }

.sub-content {
  background-color: white;
  margin-bottom: 320px; }

.col-12 {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
