.black-section {
  margin: 0 auto;
  width: 100%;
  background-color: #212121;
  .black-section-content {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 50px 10px;
    .black-section-text {
      position: relative;
      margin: 0 auto;
      font-family: $fontfamily-poppins;
      font-size: 1.1em;
      font-weight: 500;
      line-height: 1.73;
      text-align: center;
      color: $white-colour;
      padding-right: 10px;
      span {
        margin-left: 10px;
      }
    }
    a:hover {
      cursor: pointer;
    }
    .black-section-arrow {
      max-width: 20px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}