.black-section {
  max-width: 1600px;
  width: 100%;
  background-color: #212121;
  .black-section-text-container {
    display: block;
    margin: 0 auto;
    max-width: 833px;
    width: 100%;
    padding: 50px 10px;
    .black-section-text {
      margin: 0 auto;
      display: inline-block;
      font-family: $fontfamily-poppins;
      font-size: 1.1em;
      font-weight: 500;
      line-height: 1.73;
      text-align: center;
      color: $white-colour;
      padding-right: 10px;
    }
    .black-section-arrow {
      display: inline-block;
      // margin-left: calc(50% - 10px);
      max-width: 20px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}