.carousel-container {
  margin-top: 20px;
  margin-bottom: 20px !important;
  width: 100%;
  height: 100vh;
  .tab {
    position: relative;
    margin: 20px 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    .shadow {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: rgba(0, 0, 0, .3);
      transition: all .7s;
    }

    .tab-container {
      max-width: 300px;
      position: absolute;
      bottom: 20%;
      left: 15%;
      .tab-title {
        position: relative;
        text-align: left;
        width: 260px;
        height: 80px;
        font-family: $fontfamily-poppins;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.11;
        color: $white-colour;
        margin-bottom: 20px;
        h2 {
          position: absolute;
          bottom: 0;
        }
      }
      .tab-text,
      .tab-title {
        color: $white-colour;
      }
      .tab-text {
        margin-bottom: 20px;
        text-align: left;
        width: 260px;
        height: 44px;
        font-family: $fontfamily-hind;
        font-size: 16px;
        line-height: 1.38;
        color: $white-colour;
        height: 0;
        opacity: 0;
        &.js-height {
          height: auto !important;
        }
      }
      .learn-more-btn {
        opacity: 0;
        height: 0;
        a {

        }
      }
    }
    .line {
      margin: 20px 0;
      width: 30%;
      border-bottom: 1px solid $white-colour;
      transition: all .25s;
    }
    .img-hover {
      background-size: cover;
      background-position: center center;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .25s;
      img {
        height: 100%;
      }
    }
    &:hover {
      .img-hover {
        opacity: 1;
      }
      .line {
        width: 60%;
      }
    }
  }
}

main.mobile .carousel-container {
  .tab {
  .tab-container {
    left: calc(50% - 130px);
      .tab-title {
        text-align: center;
        h2 {
          width: 100%;
          text-align: center;
        }
      }
      .img-hover {
        opacity: 1;
      }
      .line {
        margin: 0 auto;
        width: 60%;
      }
      .tab-text,
      .learn-more-btn {
        text-align: center;
        height: auto;
        opacity: 1;
        margin: 20px auto;
      }
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 50px;
}

.slick-dots {
  bottom: -10px;
  li button {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    width: 10px;
    height: 10px;

    &::before {
      display: none;
    }
  }
  .slick-active button {
    background-color: $button-hover-brown;
  }
}

.slick-prev,
.slick-next {
  left: 60px;
  width: 60px;
  height: 60px;
  z-index: 13;
  background-image: url(../img/buttons/page-left@3x.png);
  background-size: cover;
  display: block;
  &::before {
    display: none;
  }
  &:hover {
    display: block;
    background-image: url(../img/buttons/page-left-100@3x.png);
    background-size: cover;
  }
  &:focus {
    display: block;
    background-image: url(../img/buttons/page-left@3x.png);
    background-size: cover;
  }
}

.slick-next {
  right: 60px;
  left: calc(100% - 120px);
  background-image: url(../img/buttons/page-right-copy@3x.png);
  &::before {
    display: none;
  }
  &:hover {
    display: block;
    background-image: url(../img/buttons/page-right@3x.png);
    background-size: cover;
  }
  &:focus {
    display: block;
    background-image: url(../img/buttons/page-right-copy@3x.png);
    background-size: cover;
  }
}

@media only screen and (max-width: 1024px) {
  main.mobile {
    .carousel-container .tab {
      .shadow {
        background-color: rgba(0, 0, 0, .5);
      }
      .text-container {
        .tab-text {
          height: auto;
          opacity: 1;
        }
      }
      .line {
        margin: 20px 0;
        width: 60%;
        border-bottom: 1px solid $white-colour;
      }
    }
  }
}