.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 320px;
  background-color: $white-colour;
  z-index: 0;
  .logo,
  .copyright {
    max-width: 249px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0 10px 0;
    img {
      width: 100%;
    }
  }
  .copyright {
    font-family: $fontfamily-hind;
    font-size: .7em;
    text-align: center;
    color: $footer-text-colour;
  }
  .middle-text {
    margin: 0 auto;
    box-sizing: border-box;
    width: 318px;
    font-family: $fontfamily-hind;
    line-height: 1.4;
    font-size: .7em;
    color: $footer-text-colour;
    text-align: center;
  }
  .right-section {
    .policylinks {
      margin: 0 auto;
      padding: 20px 10px;
      display: grid;
      grid-template-columns: auto auto auto;
      max-width: 340px;
      width: 100%;
      a {
        text-decoration: none;
        font-family: $fontfamily-poppins;
        font-size: .7em;
        font-weight: 500;
        text-align: center;
        color: $footer-text-colour;
      }
    }
    .socialmedia {
      display: block;
      margin: 0 auto;
      max-width: 215px;
      width: 100%;
      a {
        display: inline-block;

        .sm-logo {
          margin: 10px;
          display: inline-block;
          width: 17px;
          height: 17px;
          background-size: 100%;
          background-repeat: no-repeat;
          transition: all .15s;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .facebook {
          background-image: url("../img/socialmedia/facebook@3x.png");
          background-size: auto 100%;
          width: 9px;
        }
        .twitter {
          background-image: url("../img/socialmedia/twitter@3x.png");
        }
        .linkedin {
          background-image: url("../img/socialmedia/linkedin@3x.png");
        }
        .instagram {
          background-image: url("../img/socialmedia/instagram@3x.png");
        }
        .youtube {
          background-image: url("../img/socialmedia/youtube@3x.png");
          max-width: 19px;
          vertical-align: text-bottom;
        }
        &:hover {
          .facebook {
            background-image: url("../img/socialmedia/facebook-hover@3x.png");
          }
          .twitter {
            background-image: url("../img/socialmedia/twitter-hover@3x.png");
          }
          .linkedin {
            background-image: url("../img/socialmedia/linkedin-hover@3x.png");
          }
          .instagram {
            background-image: url("../img/socialmedia/instagram-hover@3x.png");
          }
          .youtube {
            background-image: url("../img/socialmedia/youtube-hover@3x.png");
          }
        }
      }
    }
  }
}

main {
  .go-top-container {
    position: fixed;
    z-index: 50;
    bottom: 137px;
    height: 46px;
    left: 0;
    right: 0;
    margin: 0 auto;
    .go-top {
      position: absolute;
      z-index: 50;
      right: -60px;
      display: none;
      width: 46px;
      height: 46px;
      line-height: 46px;
      box-sizing: border-box;
      text-align: center;
      background-color: $white-colour;
      border: 2px solid grey;
      -webkit-box-shadow: 0px 5px 31px -1px rgba(0,0,0,0);
      -moz-box-shadow: 0px 5px 31px -1px rgba(0,0,0,0);
      box-shadow: 0px 5px 31px -1px rgba(0,0,0,0);
      border-radius: 50%;
      &:hover {
        border: 2px solid $buttonup-hover-brown;
        cursor: pointer;
        color: $white-colour;
        background-color: $buttonup-hover-brown;
        -webkit-box-shadow: 0px 5px 31px -1px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 5px 31px -1px rgba(0,0,0,0.35);
        box-shadow: 0px 5px 31px -1px rgba(0,0,0,0.35);
      }
      .fa,
      .far,
      .fas {
        padding-left: 1px;
      }
    }
    @include lg {
      .go-top {
        display: block;
      }
    }
    @include xxl {
      .go-top {
        right: 30px;
      }
    }
    &.mobile {
      .go-top {
        display: none !important;
      }
    }
  }
}

@include xl {
  .footer {
    padding: 109px 135px 0 145px;
    margin: 0 auto;
    display: block;
    .footer-container {
      display: inline-block;
      .logo,
      .middle-text,
      .right-section {
        display: inline-block;
      }
      .logo {
        margin-right: 4%;
        .copyright {
          font-size: 0.865em;
        }
      }
      .middle-text {
        max-width: calc(100% - 767px);
        width: 100%;
        text-align: left;
        font-size: 0.865em;
        vertical-align: top;
        margin-top: 20px;
      }
      .right-section {
        float: right;
        .policylinks {
          padding: 20px 0;
          max-width: 400px;
          width: 100%;
          a {
            padding: 0 10px;
            font-size: 0.865em;
          }
          a:hover {
            color: $button-hover-brown !important;
            cursor: pointer;
          }
        }
        .footer-socialmedia {
          width: 100%;
          float: right;
        }
      }
    }
  }
}





