.meet-the-team {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  .mtt-title {
    margin: 40px auto;
    max-width: 1081px;
    width: 100%;
    font-weight: 600;
    font-family: $fontfamily-poppins;
    font-size: 3em;
    padding: 10px;
    line-height: 1;
    text-align: center;
    color: $black-text-colour;
  }
  .mtt-content {
    position: relative;
    padding-bottom: 85px;
    width: 100%;
  }
  .mtt-wrapper {
    position: relative;
  }
  .mtt-background {
    background-image: url("../img/mountains@3x.png");
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin: 0 auto;
    max-height: 542px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .team-slide {
    max-width: 1200px;
    width: 100%;
    .mtt-images {
      margin: 20px auto;
      max-width: 360px;
      width: 90%;
      img {
        width: 100%;
        outline: solid 0.5px $white-colour;;
        outline-offset: -13px;
      }
    }
    .mtt-middle {
      h3,
      h4,
      p,
      h5,
      .socialmedia {
        margin: 0 auto;
        text-align: center;
      }
      h3 {
        max-width: 377px;
        width: 100%;
        font-family: $fontfamily-poppins;
        font-size: 2em;
        color: $black-text-colour;
        margin-bottom: 15px;
      }
      span {
        font-weight: 600;
      }
      h4 {
        max-width: 428px;
        width: 100%;
        font-family: $fontfamily-poppins;
        font-size: 1.25em;
        font-weight: 300;
        line-height: 1.2;
        color: $grey-text-colour;
        margin-bottom: 15px;
      }
      p {
        max-width: 428px;
        width: 90%;
        font-family: $fontfamily-hind;
        font-size: 1em;
        line-height: 1.2;
        color: $grey-text-colour;
        margin-bottom: 15px;
      }
      h5 {
        max-width: 271px;
        width: 100%;
        font-family: $fontfamily-hind;
        font-size: 1.063em;
        color: $darkgrey-email-colour;
        margin-bottom: 15px;
        line-height: 1.5;
      }
      .socialmedia {
        display: block;

        .media-logo {
          margin: 0 10px;
          display: inline-block;
          max-width: 15px;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .facebook {
          height: 15px;
          width: 9px;
        }
      }
      .readmore-section {
        margin: 20px auto;
        display: block;

        .rm-button-container {
          margin: 0 auto;
          width: 46px;
          height: 46px;
          background: url("../img/buttons/button-no-text@3x.png") no-repeat;
          background-size: cover;
          transition: all .15s;
        }
        .next-button-container:hover {
          background: url("../img/buttons/button-no-text-copy@3x.png") no-repeat;
          background-size: cover;
          cursor: pointer;
        }
        .readmore-text {
          margin: 0 auto;
          line-height: 30px;
          width: 71px;
          text-align: center;
          font-family: $fontfamily-poppins;
          font-size: .8em;
          font-weight: 500;
          color: $black-text-colour;
        }
      }
    }
  }
  .one-time-container {
    .one-time {
      margin-left: -27px;
      .slick-next,
      .slick-prev {
        left: 10px;
        width: 40px;
        height: 40px;
        top: 25%;
        background-size: cover;
        z-index: 13;
      }
      .slick-next {
        background-image: url(../img/buttons/button-no-text-copy@3x.png);
        left: calc(100% - 50px);
      }
      .slick-prev {
        background-image: url(../img/buttons/button-no-text-left@3x.png);
      }
    }
  }
}

.names {
  position: relative;
  z-index: 80;
  display: none;
}

@include sm {
  .meet-the-team {
    .one-time {
      .slick-next {
        left: calc(100% - 80px);
      }
      .slick-prev {
        left: 40px;
      }
    }
  }
}

@include md {
  .meet-the-team {
    .one-time {
      .slick-next {
        left: calc(100% - 120px);
      }
      .slick-prev {
        left: 80px;
      }
    }
  }
}

@include xl {
  .mtt-title {
    margin-bottom: 80px;
  }
  .one-time-container {
    .one-time {
      display: inline-block;
      max-width: calc(100% - 240px);
      .team-slide {
        display: inline-block;
        .mtt-images {
          float: left;
          margin: 0 76px 0 150px;
        }
        .mtt-middle {
          float: left;
          h3,
          h4,
          p,
          h5,
          .socialmedia {
            text-align: left;
            margin: 0;
          }
          h3 {
            margin-bottom: 15px;
            font-size: 2em;
          }
          h4 {
            margin-bottom: 15px;
            font-size: 1.375em;
            max-width: 428px;
            width: 100%;
            line-height: 1.73;
          }
          p {
            margin-bottom: 15px;
            font-size: 1em;
            line-height: 1.5;
          }
          h5 {
            margin-bottom: 15px;
            font-size: 1.125em;
            line-height: 2;
          }
        }
      }
    }
    .readmore-section {
      .rm-button-container,
      .readmore-text {
        display: inline-block;
      }
      .rm-button-container {
        margin: 0 17px 0 auto;
      }
      .readmore-text {
        margin: 20px;
      }
    }
  }
  .mtt-content {
    display: inline-block;
    position: relative;
    .one-time .slick-track {
      width: 100% !important;
    }
    .names {
      position: absolute;
      right: 70px;
      top: 123px;
      width: 240px;
      display: block;
      .name {
        margin-bottom: 20px;
        text-align: right;
        a {
          text-decoration: none;
          font-family: $fontfamily-poppins;
          font-size: 1em;
          color: #cccccc;
          span {
            font-weight: 700;
          }
        }
      }
      .focus {
        a {
          font-family: $fontfamily-poppins;
          font-size: 20px;
          text-align: right;
          color: #000000;
        }
      }
    }
  }
}