
.text-container {
  text-align: center;
  padding: 50px 0;

  .title-text h2 {
    padding: 10px;
    font: bold 2.5em $fontfamily-poppins;
    max-width: 1081px;
    width: 100%;
    height: auto;
    line-height: 1.19;
    letter-spacing: -0.9px;
    margin: 0 auto 20px auto;
  }
  .sub-text {
    padding: 10px;
    font-family: $fontfamily-poppins;
    margin: 0 auto 40px;
    max-width: 863px;
    width: 100%;
    height: auto;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.73;
    color: #6e6e6e;
  }
  .next-button-container {
    width: 50px;
    height: 50px;
    background: url("../img/buttons/button-no-text@3x.png") no-repeat;
    display: inline-block;
    background-size: cover;
    transition: all .15s;
  }
  .next-button-container:hover {
    background: url("../img/buttons/button-no-text-copy@3x.png") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}

@include lg {
  .text-container {
    .title-text h2 {
      font: bold 4em $fontfamily-poppins;
    }
    .sub-text {
      font-size: 1.375em;
    }
  }
}