.duo-container {
  width: 100%;
  display: block;
  margin: 0 auto 400px auto;
  .top-section {
    margin-bottom: 30px;
  }
  .duo-section {
    position: relative;
    display: block;

    .section-image {
      max-width: 485px;
      width: 90%;
      margin: 20px auto;
      img {
        outline: 1px solid white;
        outline-offset: -13px;
        width: 100%;
        -webkit-box-shadow: 0px 10px 41px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 41px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 10px 41px -10px rgba(0, 0, 0, 0.75);
      }
    }
    .bckgrnd-img {
      display: none;
      position: relative;
      max-width: 1115px;
      height: auto;
      img {
        width: 100%;
      }
    }
    .container {
      width: 100%;
      display: block;
    }
    .text-left {
      display: block;
      float: right;
    }
    .section-text {
      text-align: center;
      max-width: 530px;
      width: 100%;
      h2 {
        margin: 0 auto;
        padding: 10px;
        width: 100%;
        font-weight: 600;
        font-family: $fontfamily-poppins;
        font-size: 2.5em;
        line-height: 1.09;
        color: #000000;
      }
      p {
        padding: 10px;
        text-align: center;
        width: 100%;
        font-family: $fontfamily-poppins;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.73;
        color: #6e6e6e;
      }
    }
  }
}

@include lg {
  .duo-container {
    margin: 0 auto 247px auto;
    .duo-section {
      margin: 0 auto;
      width: 1084px;
      .top-section {
        padding-top: 241px;
      }
      .top-container {
        padding: 241px 0 400px 0;
      }
      .container {
        display: flex;
        width: 100%;
        position: relative;
        overflow: visible;
        flex-direction: row;
        .section-image,
        .section-text {
          float: left;
        }
        .section-image {
          width: 485px;
          margin: 0 1%;
        }
        .section-text {
          width: calc(100% - 485px);
          h2 {
            font-size: 4em;
          }
          p {
            font-size: 1.375em;
          }
        }
        .text-right {
          top: 300px;
          h2 {
            margin-bottom: 30px;
          }
        }
        &.flipped {
          flex-direction: row-reverse;
          .section-image,
          .section-text {
            float: right;
          }
          .section-image {
            margin: 0 1.5%;
          }
          .section-text {
            margin-right: 30px;
          }
        }
      }
      .bckgrnd-img {
        display: block;
        position: absolute;
        z-index: -1;

      }
      .background-top {
        right: -25%;
        top: -60px;
        z-index: -10;
        float: right;
        width: 748px;
      }
      .section-text {
        h2,
        p {
          text-align: left;
        }
      }
      .learn-more-btn {
        margin: 40px auto 0 8px;
      }
    }
    .bottom-section {
      .background-bottom {
        float: left;
        left: -76%;
        bottom: 27%;
      }
      .bottom-container {
        .bottom-image {
          margin-left: 15px;
        }
        .text-left {
          h2 {
            text-align: right;
            margin: 0 auto 30px 40px;
          }
          p {
            text-align: right;
            margin-left: 39px;
          }
        }
        .learn-more-btn {
          float: right;
          margin-right: -30px;
        }
      }
    }
  }
}