
// variables
$fontfamily-poppins: 'Poppins', sans-serif;
$fontfamily-hind: 'Hind', sans-serif;
$button-hover-brown: rgba(190, 162, 108, 1);
$buttonup-hover-brown: #bea26c;
$button-hover-brown-transparent: rgba(190, 162, 108, 0);
$grey-text-colour: #6e6e6e;
$black-text-colour: #000000;
$darkgrey-email-colour: #4b4b4b;
$white-colour: #ffffff;
$footer-text-colour: #aaaaaa;
$personalintro-background-colour: #212121;


// Screen size variables
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 1025px;  // Tablets and small desktops
$screen-xl-min: 1300px; // Large tablets and desktops

// Mixins
@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} } // Small devices
@mixin sm-md { @media(min-width: #{$screen-md-min}) and (max-width:938px){@content;}}
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin md-lg {@media(min-width: #{$screen-lg-min}) and (max-width:1048px){@content;}}
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} } // Extra large devices
@mixin xxl {@media (min-width:1300px) and (max-width: 1480px){@content;}}