
header {
  width: 100%;
  position: absolute;
  z-index: 6;
  display: block;
  .header {
    padding-top: 26px;
    .connections-logo {
      position: absolute;
      display: block;
      width: 197px;
      left: 5%;
      &.white {
        display: block;
      }
      &.black {
        display: none;
      }
      img {
        width: 100%;
      }
      @include md {
        left: calc(50% - 98.5px);
      }
      @include sm-md {
        left: 5%;
      }
    }
    .menu-right {
      float: right;
      margin-right: 5%;
      .login {
        position: relative;
        display: none;
        float: left;
        width: 210px;
        height: 40px;
        border-radius: 20px;
        border: solid 0.5px rgba(255, 255, 255, .5);
        margin-right: 60px;
        a {
          text-decoration: none;
          display: inline-block;
          font-family: $fontfamily-poppins;
          font-size: 0.875em;
          font-weight: 600;
          text-align: center;
          line-height: 39px;
          color: #ffffff;
          &.login-text {
            padding: 0 16px 0 20px;
            border-right: 1px solid rgba(255, 255, 255, .5);
          }
          &.apply {
            padding-left: 17px;
          }
        }
        @include md {
          display: inline-block;
        }
      }
      // Menu icon
      .menu {
        padding-top: 9px;
        display: block;
        float: left;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        svg#menu-icon {
          width: 30px;
        }
        svg#menu-icon #top,
        svg#menu-icon #middle,
        svg#menu-icon #bottom {
          transition: 0.25s ease;
        }
        #menu-icon:hover #middle {
          transform: scale(2, 1);
        }
        #menu-icon:hover #bottom {
          transform: scale(2, 1);
        }
        #menu-icon:active #top,
        #menu-icon:active #middle,
        #menu-icon:active #bottom {
          transform: scale(0, 1);
          transition-timing-function: cubic-bezier(2s, 0, 0.25, 1);

          stroke-linecap: round;
        }
        #menu-icon line {
          stroke: #fff;
          stroke-width: 2;
          stroke-linecap: round;
        }
      }
    }
  }
  &.white {
    overflow: hidden;
    position: relative;
    background-color: white;
    height: 100px;
    .connections-logo.white {
      display: none;
    }
    .connections-logo.black {
      display: block;
    }
    .menu-right .login {
      border: solid 0.5px rgba(0, 0, 0, 0.5);
      a {
        color: black;
        &.login-text {
          border-right: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
    }
    .menu-right .menu #menu-icon line {
      stroke: black;
    }
  }
}

.viewport-height {
  min-height: 100vh;
}

.video-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-image: url('../img/hero-banner@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    text-align: center;
    z-index: 6;
    position: relative;
    width: 100%;
    max-width: 1081px;
    margin: 0 auto;
    .text {
      text-align: center;
      width: 100%;
      text-shadow: 0 8px 30px rgba(0, 0, 0, 0.58);
      font-family: $fontfamily-poppins;
      font-size: 2em;
      line-height: 1.17;
      font-weight: bold;
      letter-spacing: -0.5px;
      color: #ffffff;
      margin: 0 auto 50px auto;
      padding: 65% 2% 0 2%;
      box-sizing: border-box;
      span {
        font-weight: 300;
      }
      @include md {
        font-size: 4em;
      }
      @include lg {
        font-size: 4.5em;
      }
    }
    @include md {
      left: 0;
    }
    .button-container {
      z-index: 6;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      margin: 0 auto;
    }
    .button {
      display: inline-block;
      position: relative;
    }
    .button.is-play {
      border-radius: 50%;
      width: 75px;
      height: 75px;
    }
    .button-icon {
      max-width: 75px;
      img {
        width: 100%;
      }
    }
    .button.is-play .button-outer-circle {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 12.5%;
      right: 0;
      bottom: 0;
      height: 75%;
      width: 75%;
    }
    .button.is-play .button-icon {
      position: absolute;
      width: 75%;
      height: 75%;
      left: 12.5%;
    }
    .has-scale-animation {
      -webkit-animation: smallScale 3s infinite;
      animation: smallScale 3s infinite;
    }
    .has-delay-short {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
    }
    @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @-webkit-keyframes triangleStroke {
      from {
        stroke-dashoffset: 90;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
    @keyframes triangleStroke {
      from {
        stroke-dashoffset: 90;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
    @-webkit-keyframes smallScale {
      from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }
      to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
      }
    }
    @keyframes smallScale {
      from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }
      to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
      }
    }

    .play-video {
      max-width: 172px;
      width: 100%;
      margin: 0 auto;
      p {
        text-shadow: 0 8px 30px rgba(0, 0, 0, 0.58);
        font: bold 1.125em $fontfamily-poppins;
        line-height: 1.17;
        letter-spacing: -0.2px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  .video {
    position: relative;
    height: 100%;

    .hover {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;
      background-color: rgba(0, 0, 0, .5);
    }

    iframe {
      position: absolute;
      top: 0;
      left: calc(50% - 800px);
      width: 1600px;
      height: 100%;
    }
  }

  //scroller

  .mouse {
    display: none;
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    margin-bottom: 6px;
    position: absolute;
    left: calc(50% - 12px);
    bottom: 90px;
  }

  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    border-radius: 8px;
  }

  .wheel {
    -webkit-animation: mouse-wheel 1.5s linear infinite;
    -moz-animation: mouse-wheel 1.5s linear infinite;
  }

  @-webkit-keyframes mouse-wheel {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  }

  @-moz-keyframes mouse-wheel {
    0% {
      top: 1px;
    }
    25% {
      top: 2px;
    }
    50% {
      top: 6px;
    }
    75% {
      top: 2px;
    }
    100% {
      top: 1px;
    }
  }

  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    25% {
      opacity: .25;
    }
    50% {
      opacity: .5;
    }
    75% {
      opacity: .75;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    25% {
      opacity: .25;
    }
    50% {
      opacity: .5;
    }
    75% {
      opacity: .75;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    25% {
      opacity: .25;
    }
    50% {
      opacity: .5;
    }
    75% {
      opacity: .75;
    }
    100% {
      opacity: 1;
    }
  }

  .vert-line {
    z-index: 99;
    height: 120px;
    width: 3px;
    display: block;
    position: absolute;
    bottom: -60px;
    left: calc(50% - 1px);
    div {
      height: 50%;
      display: block;
      width: 1px;
      margin-left: 1px;
      &.white {
        background-color: white;
      }
      &.black {
        background-color: black;
      }
    }
  }
  &.normal-page-banner {
    height: 640px;
  }
}

//Modal
.modal-video {
  background-color: rgba(0, 0, 0, .95);
}

.sub-sub-content {
  position: relative;
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 150px;
}

// Responsive

@include md {
  .mouse {
    display: block;
  }
  .video-container {
    .content {
      .text {
        padding: 40% 2% 0 2%;
      }
    }
  }
}

@include md-lg {
  .video-container {
    .content {
      left: 0 !important;
    }
  }
}

@include lg {
  .video-container {
    .mouse {
      display: block;
    }
    .button-container {
      .button.is-play {
        width: 100px;
        height: 100px;
      }
      .button-icon {
        max-width: 100px;
      }
      .button.is-play .button-outer-circle {
        width: 100%;
        height: 100%;
        left: 0;
      }
      .button.is-play .button-icon {
        height: 100%;
        width: 100%;
        left: 0;
      }
    }
    .play-video {
      margin-top: 20px;
    }
    .content .play-video {
      padding-top: 20px;
    }
    .content .text {
      padding: 20% 2% 0 2%;
    }
  }
}


