@import '../external/modal-video-master/scss/modal-video';
@import '../external/slick-1.8.1/slick/slick';
@import 'variables';
@import 'buttons';
@import 'bluesection';
@import 'footer';
@import 'twosections';
@import 'video';
@import 'textvideo';
@import 'carousel';

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}


//mixins
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .iframe-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.col-12 {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

